

<div class="jumbotron m-3" style="padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;">
  <h1 class="display-4"><%= @article.title %></h1>
  <p class="lead"><%= @article.content %></p>
  <hr class="my-4">
  <h3>Elige una acción:</h3>
  <%= link_to "Modificar artículo", :edit, class:"btn btn-primary btn-lg" %>
  <%= link_to "Eliminar artículo", @article, class:"btn btn-primary btn-lg", method: :delete, data: {confirm: "Are you sure?"} %>
  
</div>