<h1>Hola, <%= current_user.email %></h1>

<!--<%= link_to "Inicio", root_path, class:"btn btn-primary btn-lg" %>-->
<%= link_to "Editar perfil", perfil_path, class:"btn btn-primary btn-lg" %>
<%= link_to "Consultar categorías", categories_path, class:"btn btn-primary btn-lg" %>